In [1]:
import numpy as np
import re 
import nltk
import pandas as pd

In [2]:
text1 = open("/Users/savita/Desktop/MOSS/computeCost1.txt","r") 
text2 = open("/Users/savita/Desktop/MOSS/computeCost3.txt","r") 
text3 = open("/Users/savita/Desktop/MOSS/computeCost4.txt","r") 
text4 = open("/Users/savita/Desktop/MOSS/gradientDescent.txt","r")

In [3]:
file_contents1 = text1.read()
file_contents2 = text2.read()
file_contents3 = text3.read()
file_contents4 = text4.read()

In [4]:
clean_text1 = re.sub(r'%(.*)\n','',file_contents1)
clean_text1 = re.sub(r'\s+',' ',clean_text1)
clean_text2 = re.sub(r'%(.*)\n','',file_contents2)
clean_text2 = re.sub(r'\s+',' ',clean_text2)
clean_text3 = re.sub(r'%(.*)\n','',file_contents3)
clean_text3 = re.sub(r'\s+',' ',clean_text3)
clean_text4 = re.sub(r'%(.*)\n','',file_contents4)
clean_text4 = re.sub(r'\s+',' ',clean_text4)

In [5]:
clean_text1

'function J = computeCost(X, y, theta) s = length(X); J = 0; J =1/(2*m)*(sum(((X*theta)-y))); end'

In [6]:
clean_text2

'function J = computeCost(X, y, theta) m = length(X); J = 0; J=1/(2*m)*(sum(((X*theta)-y).^2)); end '

In [7]:
clean_text3

'function J = computeCost(X, y, theta) a = length(X); J = 0; J=1/(a)*(sum(((X*theta)-y).^2)); end '

In [25]:
clean_text4

"function [theta, J_history] = gradientDescent(X, y, theta, alpha, num_iters) m = length(X); J_history = zeros(num_iters, 1); for iter = 1:num_iters dell=(1/m)*((X*theta-y)' * X)'; theta = theta - (alpha * dell); J_history(iter) = computeCost(X, y, theta); end end"

Bag of Words + Correspondance Analysis

In [8]:
documents = [clean_text1,clean_text2,clean_text3,clean_text4]

In [9]:
word2count= {}
for data in documents:
    words = nltk.word_tokenize(data)
    for word in words:
        if word not in word2count.keys():
            word2count[word]= 1
        else:
            word2count[word] +=1

In [10]:
word2count

{"'": 2,
 '(': 30,
 ')': 30,
 '*': 6,
 ',': 14,
 '-': 1,
 '-y': 3,
 '.^2': 2,
 '0': 3,
 '1': 2,
 '1/m': 1,
 '2*m': 2,
 ':': 1,
 ';': 14,
 '=': 15,
 '=1/': 1,
 'J': 7,
 'J=1/': 2,
 'J_history': 3,
 'X': 10,
 'X*theta': 3,
 'X*theta-y': 1,
 '[': 1,
 ']': 1,
 'a': 2,
 'alpha': 2,
 'computeCost': 4,
 'dell': 1,
 'dell=': 1,
 'end': 5,
 'for': 1,
 'function': 4,
 'gradientDescent': 1,
 'iter': 2,
 'length': 4,
 'm': 2,
 'num_iters': 3,
 's': 1,
 'sum': 3,
 'theta': 8,
 'y': 5,
 'zeros': 1}

In [11]:
len(word2count)

42

In [12]:
import heapq
freq_words = heapq.nlargest(42,word2count,key=word2count.get)

In [13]:
x=[]
for data in documents:
    vector= []
    for word in freq_words:
        if word in nltk.word_tokenize(data):
            vector.append(1)
        else:
            vector.append(0)
    x.append(vector)

In [14]:
x

[[1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1]]

In [15]:
freq_words

['(',
 ')',
 '=',
 ',',
 ';',
 'X',
 'theta',
 'J',
 '*',
 'y',
 'end',
 'function',
 'computeCost',
 'length',
 '0',
 'sum',
 'X*theta',
 '-y',
 'J_history',
 'num_iters',
 '2*m',
 'm',
 'J=1/',
 '.^2',
 'a',
 'alpha',
 '1',
 'iter',
 "'",
 's',
 '=1/',
 '[',
 ']',
 'gradientDescent',
 'zeros',
 'for',
 ':',
 'dell=',
 '1/m',
 'X*theta-y',
 '-',
 'dell']

In [16]:
table = pd.DataFrame(x)

In [17]:
table.columns

RangeIndex(start=0, stop=42, step=1)

In [18]:
table.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1

In [19]:
table.columns = freq_words

In [20]:
table

,(,),=,",",;,X,theta,J,*,y,...,],gradientDescent,zeros,for,:,dell=,1/m,X*theta-y,-,dell
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1

In [21]:
table.rownames = ['Doc1','Doc2','Doc3','Doc4']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [22]:
table

,(,),=,",",;,X,theta,J,*,y,...,],gradientDescent,zeros,for,:,dell=,1/m,X*theta-y,-,dell
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1

In [23]:
export_csv = table.to_csv (r'/Users/savita/Desktop/MOSS/export_dataframe.csv',header=True)

In [24]:
export_csv